@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  text-align: center;
  color: rgba(204, 33, 33, 1);
  font-size: 32px;
  line-height: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  letter-spacing: -2.24px;
  box-shadow: 0px 2px 14px rgba(239, 239, 239, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css */
/* styles.css */
/* styles.css */

/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Apply styles to the body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Apply styles to headings */
h1, h2, h3 {
  color: #333;
  margin: 20px; /* Add spacing below h2 */

}


/* Apply styles to buttons */
button {
  display: block;
  width: calc(50% - 10px); /* Equal width for both buttons with spacing */
  padding: 10px;
  margin: 5px; /* Add spacing between buttons */
  background-color: #8589E4; /* New color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Apply styles to links */
a {
  text-decoration: none;
  color: #007bff;
}

/* Apply styles to forms */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Apply styles to form fields */
input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Apply styles to form buttons */
.form-button {
  width: 100%;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }
}
